<tr>
		<td style="padding:10px"></td>
</tr>
<tr>
	<td height="1" style="padding:0 7%">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td height="1" style="background-color:#c6c6c6">
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<tr>
	<td style="font:400 14px Arial;padding:1.7px 7% 23px;text-align:center;color:#063478;line-height:1.6em">
		<strong>Importante</strong>
		<br>
		Em caso de dúvida entre em nosso sistema para conferir o andamento das entregas.
    <br>
    <strong>Equipe Fastfeet</strong>
	</td>
</tr>
<tr>
	<td bgcolor="#f8f6f7" style="text-align:center;padding:38px 0 0 0">
	</td>
</tr>
