<tr>
		<td style="color:#b7b7b9;font-size:12px;margin-left:110px;text-align:center">
			Fastfeet, suas entregas a um passo de distancia.
	  </td>
</tr>
<tr>
  <td width="100%" style="padding:25px 0 20px;text-align:center">
    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr style="text-align:center">
					<td height="26">
			  		<img border="0" style="display:inline-block" src="https://raw.githubusercontent.com/rocketseat-education/bootcamp-gostack-desafio-03/master/.github/logo.png" width="150" height="50">
					</td>
				</tr>
			</tbody>
		</table>
  </td>
</tr>
<tr>
	<td height="1" style="padding:0 7%">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td height="1" style="background-color:#c6c6c6">
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
